body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    border: black solid 1px;
    border-radius: 15px;
}

p {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 50px;
}

.red {
    grid-row-start: 1;
    grid-row-end: 2;
}

.green {
    grid-row-start: 2;
    grid-row-end: 3;
}

.blue {
    grid-row-start: 3;
    grid-row-end: 4;
}

.slider {
    background-color: lightgrey;
    grid-column-start: 1;
    grid-column-end: 2;
}